header.header 
    .header__wrapper
        .header__column 
            a(href=routes.home)
                i.fab.fa-youtube
                b WeTube
        .header__column
            form(action=routes.search, method="get", id="searchForm")
                input(type="text", placeholder="search by term ...." name="term" value=searchingBy) 
                button(type="submit" form="searchForm")
                    i.fas.fa-search
        .header__column 
            ul 
                if !loggedUser
                    li 
                        a(href=routes.join) Join
                    li
                        a(href=routes.login) Log In
                else 
                    li 
                        a(href=`/videos${routes.upload}`) Upload
                    li 
                        a(href=routes.me) Profile
                    li 
                        a(href=routes.logout) Log Out