mixin searchBlock(video = {})
    .videoBlock 
        a(href=routes.videoDetail(video.id))
            video.videoBlock__thumbnail(src=video.videoFile)
            .block_info 
                h4.videoBlock__title=video.title
                h6.videoBlock__views=video.views
                    |  views
                p.videoBlock__desc=video.description

